## Python基礎課程and常用套件與分析

主要課題/Course Outline：

1.Python介紹以及Jupyter開發環境架設  

2.Python 基本資料型態 --整數. 浮點數. 字串...等 

3.變數,運算符,條件控制,循環控制 解說與練習

4.Python 資料結構-字串、列表、串列、集合、字典 解說與練習

5.Pytohn函數(function)和模組(modules)解說與練習 

6.Python日期與時間處理 解說與練習 

-----

7.輸入與輸出(input and output)應用練習 

8.Python OS文件/目錄方法 

9.Python檔案處理-檔案讀取與編寫、文件檔案編寫 、XML檔案編寫與讀取 

10.錯誤與例外處理(errors and exception)觀念簡介、練習 

11.物件與類別(objects and classes)觀念介紹、練習 

12.Python執行緒--執行緒概念、使用多執行緒模組

## 01. Python Introduction

* 是一種廣泛使用的直譯式、進階編程、通用型程式語言
* https://www.python.org

### Jupyter Notebook

https://jupyter.org/

### 1.1 基本概念

* Python中，萬物皆為對象(Object)
* 每個對象包含3種屬性 : id (位址) / type (類型) / value (數值)
* python 原始碼文件預設編碼 : UTF-8
* 字符串皆為 unicode 字符串

In [53]:
#指定不同編碼
# -*- coding: cp-1252 -*-
# -*- coding: UTF-8 -*-
#coding=utf-8

### 1.2 註解

* 單行註解以 # 開頭
* 多行註解以''' 或 """ 開頭及結尾

In [55]:
#我是註解 
print("Hello world")

a = 1
b = 2

'''
print(a+b)
'''
"""
a=a+b
我是註解 1
我是註解 2
#print("Hello Nick")
"""

Hello world

'\na=a+b\n我是註解 1\n我是註解 2\n#print("Hello Nick")\n'

###  1.3. 行與縮排

* 以"縮排" 取代 "{ }", 作為程式碼區域
* 區域內縮排不一致,將導致運行錯誤

In [57]:
if True:
    print ("True")
    print ("Apple")
else:
    print ("False")
    print ("Cat")

True
Apple

### 1.4.  比較運算符號

運算符號 | 說明 
------|------ 
== | 等於 
!= | 不等於 
> | 大於
< | 小於
>= | 大於等於
<= | 小於等於

### 1.6.  賦值運算符號

運算符號 | 說明 
------|------ 
= | a = b + c
+= | a = a + b
-= | a = a - b
*= | a = a * b
/= | a = a / b
%= | a = a % b
**= | a = a ** b
//= | a = a // b

### 1.7.  身份(id) 運算符號

* is  
* is not

In [60]:
a = 20
b = 20

print(a is b)
print(id(a)) #id()取得 變數位址
print(id(b))

print(a is not b)

True
1705792896
1705792896
False

In [61]:
# 在python 互動式界面有記憶體緩存機制，範圍-5~256

a = 257
b = 257

print(a is b)
print(id(a)) #id()取得 變數位址
print(id(b))

print(a is not b)

False
2145251901136
2145251901232
True

* is : 判斷變數位址是否相同
* == : 判斷變數數值是否相同

In [62]:
a = [1,2,3]
b = a
print(b)
print(b is a)
print("a id = %d" %(id(a)))
print("b id = %d" %(id(b)))
print(b == a)

[1, 2, 3]
True
a id = 2145269568328
b id = 2145269568328
True

### 2.1變數名稱與賦值¶
變數名稱命名

* 保留字不得做為變數名稱
* 變數起始字母需為"英文字母" 或 "_"
* 變數大小寫視為不同變數

變數賦值

* 變數名稱 = 變數值

In [47]:
# 保留字
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [3]:
counter = 100  #整數
miles = 1000.0 # 浮點數
name = "John" # 字串
 
print(counter)
print(miles)
print(name)

100
1000.0
John

### 2.2  多變數同時賦值

變數名稱A = 變數名稱B = 變數名稱C = 變數值

In [4]:
a = b = c= 10

print(a,b,c)

10 10 10

In [5]:
a, b, c = 1.5, 10, "Apple"

print(a,b,c)

1.5 10 Apple

### 2.3 刪除變數

In [7]:
del a
print(a)

NameError: name 'a' is not defined

### 2.4  數字(Number)類型
* int（整數）
* float（浮點數）
* complex (複數）

In [8]:
a = 10
print("a = %d" %(a))
print(type(a))

b = 2.5
print("b = %d" %(b))
print("b = %f" %(b))
print("b = %.1f" %(b))
print(type(b))

c = 1.5+0.5j
print(c)
print(c.real,c.imag) # var.real 複數中的實數, var.imag 複數中的虛數 
print(type(c))

a = 10
<class 'int'>
b = 2
b = 2.500000
b = 2.5
<class 'float'>
(1.5+0.5j)
1.5 0.5
<class 'complex'>

In [9]:
a = 20
b = 10
print ("a+b = " , a+b)  # 加法
print ("a-b = " , a-b)  # 減法
print ("a*b = " , a*b)  # 乘法
print ("a/b = " , a/b, type(a/b))  # 除法
print ("a//b = ", a//b, type(a//b)) # 取整數
print ("a%b = ", a%b, type(a%b)) # 取餘數
print ("a**b = ", a**b, type(a**b)) # 乘方

a+b =  30
a-b =  10
a*b =  200
a/b =  2.0 <class 'float'>
a//b =  2 <class 'int'>
a%b =  0 <class 'int'>
a**b =  10240000000000 <class 'int'>

### 2.5 數字類型轉換
* 整數可轉換成Float & Complex

In [10]:
a = 10
#整數轉換成長整數 int to long
print("Convert integer to float : ",float(a),type(float(a)))

#整數轉換成長整數 int to long
print("Convert integer to complex : ",complex(a),type(complex(a)))

Convert integer to float :  10.0 <class 'float'>
Convert integer to complex :  (10+0j) <class 'complex'>

In [11]:
b = 10.25
#浮點數轉換成整數 float to int
print("Convert integer to float : ",int(b),type(int(b)))

#浮點數轉換成complex int to long
print("Convert integer to complex : ",complex(b),type(complex(b)))

Convert integer to float :  10 <class 'int'>
Convert integer to complex :  (10.25+0j) <class 'complex'>

In [12]:
c = 10+5j
print("Convert integer to float : ",int(c),type(int(c)))
print("Convert integer to float : ",float(c),type(float(c)))

TypeError: can't convert complex to int

In [13]:
#轉 8進位 : oct(x)
x  = 12
print(oct(x))

0o14

In [14]:
#轉 16進位 : hex(x)
x  = 12
print(hex(x))

0xc

In [15]:
# 創建複數
a = 10 
b = 2
print(complex(a,b)) # complex(x, y) 將 x 和 y 轉換成一個複數與實數 x 和虛數 y。 x,y是數值表達式

(10+2j)

### 2.6 常用數學計算函數

Python常用的數學運算函数 : math module、cmath module

math module : 提供整數,浮點數運算常用的數學函數。https://docs.python.org/zh-cn/3/library/math.html

cmath module : 提供複數運算常用的數學函數。 https://docs.python.org/zh-cn/3/library/cmath.html

In [17]:
import math,cmath
print(dir(math))
print("\n----------\n")
print(dir(cmath))

['__doc__', '__loader__', '__name__', '__package__', '__spec__', 'acos', 'acosh', 'asin', 'asinh', 'atan', 'atan2', 'atanh', 'ceil', 'copysign', 'cos', 'cosh', 'degrees', 'e', 'erf', 'erfc', 'exp', 'expm1', 'fabs', 'factorial', 'floor', 'fmod', 'frexp', 'fsum', 'gamma', 'gcd', 'hypot', 'inf', 'isclose', 'isfinite', 'isinf', 'isnan', 'ldexp', 'lgamma', 'log', 'log10', 'log1p', 'log2', 'modf', 'nan', 'pi', 'pow', 'radians', 'sin', 'sinh', 'sqrt', 'tan', 'tanh', 'trunc']

----------

['__doc__', '__loader__', '__name__', '__package__', '__spec__', 'acos', 'acosh', 'asin', 'asinh', 'atan', 'atanh', 'cos', 'cosh', 'e', 'exp', 'isclose', 'isfinite', 'isinf', 'isnan', 'log', 'log10', 'phase', 'pi', 'polar', 'rect', 'sin', 'sinh', 'sqrt', 'tan', 'tanh']

In [18]:
# 取絕對值 =>  abs(x) : 返回 x 的絕對值：x 和 零之間的（正極）的距離。
x = -12.5
print(abs(x)) 

x = -10
print(math.fabs(x),type(math.fabs(x))) # # 取絕對值,但回傳值型態是float

12.5
10.0 <class 'float'>

In [19]:
# 取數值x的上限 => ceil(x) : x的上限：不小於 x 的最小整數　＝＞　無條件進位
x = 12.3 
print(math.ceil(x))
x = -12.5
print(math.ceil(x))

13
-12

In [20]:
#取平方根
x = 25 
print(math.sqrt(x))

x = 25.6j
print(cmath.sqrt(x))

5.0
(3.5777087639996634+3.577708763999664j)

In [21]:
#取 log =>log(x), log10()
x = 100
print(math.log(x,10))
print(math.log10(x))

2.0
2.0

In [22]:
#取數字的下捨整數 =>　無條件捨去
import math
x = 12.5
print(math.floor(x))

12

In [23]:
# 取數值序列中最大/小值  => max(), min()
x = 12.5
print(max(50,23,45,12.5,-5,33))
print(min(50,23,45,12.5,-5,33))

50
-5

In [24]:
#四捨五入 round()
x = 12.4
print(round(x))
x = 12.5
print(round(x))
x = 12.8 
print(round(x))
x = 12.26
print(round(x,1))

12
12
13
12.3

In [25]:
# 取圓周率
print(math.pi)

3.141592653589793

In [26]:
# 取數學常量常數e
print(math.e)

2.718281828459045

### 2.7 常用數學三角函數

In [28]:
x = 10
print("sin(%d) : %.5f " %(x,math.sin(x))) # 取 sin值: sin() :返回x弧度的正弦值
print("cos(%d) : %.5f " %(x,math.cos(x))) # 取 cos值: cos() :返回x的弧度的餘弦值
print("tan(%d) : %.5f " %(x,math.tan(x))) # 取 tan值: tan() :返回x的弧度的餘弦值

print("-------將角度轉化成弧度 math.radians()------------");
print("%.2f" %(math.radians(0))) 
print("%.2f" %(math.radians(45)))
print("%.2f" %(math.radians(90))) 
print("%.2f" %(math.radians(135)))
print("%.2f" %(math.radians(180))) 

print("-------將弧度轉化成角度 math.degress()------------");
print("%.2f" %(math.degrees(math.pi)))
print("%.2f" %(math.degrees(math.pi))) 
print("%.2f" %(math.degrees(math.pi*3/4))) 
print("%.2f" %(math.degrees(math.pi/2)))
print("%.2f" %(math.degrees(math.pi/4)))

sin(10) : -0.54402
cos(10) : -0.83907
tan(10) : 0.64836
-------將角度轉化成弧度 math.radians()------------
0.00
0.79
1.57
2.36
3.14
-------將弧度轉化成角度 math.degress()------------
180.00
180.00
135.00
90.00
45.00

### 2.8 字串String
* 單引號（'）或雙引號（"）包起來的資料都是字串

In [29]:
strA ='I\'m Nick'
strB = "I\'m Nick"
print(strA)
print(strB)

I'm Nick
I'm Nick

In [30]:
#字串連接 (+)
strA = 'Hello World!'
strB = 'I\'m Ncik' # I'm Nick
print(strA + strB)

Hello World!I'm Ncik

In [31]:
#重覆字串 (*)
print(strA * 2)

Hello World!Hello World!

In [32]:
#取得字串中第i個字符 var[idx]
print(strA[4])

#取得字串中某一段字符 var[:]
print(strA[0:5])

o
Hello

In [33]:
#判斷某字符或字串是否在字串中 (in)
print ("Hello" in strA)

#判斷某字符或字串是否不在字串中 (not in)
print ("W" not in strA)

True
False

In [34]:
print ("我的名字是%s , 身高 %d cm." % ('Nick', 173))

我的名字是Nick , 身高 173 cm.

In [35]:
#將字串中第一個字母轉為大寫 str.capitalize()
strA = "hello"
print(strA.capitalize())

Hello

In [36]:
# 回傳某字元或字串在原字串中的次數
strA = "hello"
print(strA.count('l'))
print(strA.count('l',0,2)) # position : 0~2

2
0

In [37]:
# 回傳字串長度
strA = "hello"
print(len(strA))

5

In [38]:
#回傳字串中最大的字元
strA = "hello"
print(max(strA))

#回傳字串中最小的字元
print(min(strA))

o
e

In [39]:
#字串取代
strA = "hello"
print(strA.replace("l","a"))
print(strA.replace("l","a",1))

heaao
healo

In [ ]:
#回傳一個以原字串置中的字串
strA = "hello"
print(strA.center(10,'-'))

In [40]:
# 判斷字串是否以英文字母或數字組成 , 回傳Ture / False
strA = "hello!123"
print(strA.isalnum())

strA = "hello123"
print(strA.isalnum())

False
True

In [41]:
#判斷字串組成是否為數字
strA="1231231"
print(strA.isdigit())

True

In [42]:
# Unicode字符串 : Python普通字符串在內部存儲為8位ASCII，而Unicode字符串被作為16位Unicode儲存

print(u'Hello, world!')

Hello, world!

## 03. Condition & Loop Control

### 3.1 IF ....ELSE

In [43]:
sex = 'F'
 
if sex == 'M' :
    print("Hello")

else:
    print("ByeBye")

ByeBye

In [44]:
# m if m > n else n

print("Hello") if sex == 'M' else print("ByeBye")

ByeBye

### 3.2 IF ....ELIF.....ELSE...

In [45]:
number = 35
print("猜數字遊戲")

guess = int(input("請輸入猜的數字："))
 
if guess == number:
    print("猜對了!!")
elif guess < number:
    print("猜的數字太小...")
else:
    print("猜的數字太大...")

猜數字遊戲
請輸入猜的數字：40
猜的數字太大...

In [46]:
#巢狀if else迴圈

score=85

if(score>60):    
    if(score>60 and score<=70):       
        print("F")    
    elif(score>70 and score<=80):        
        print("E")    
    elif(score>80 and score<=90):       
        print("D")       
        if(score==85):           
            print("C")    
    else:       
        print("A")

D
C

### 3.3 循環控制 For loop & While loop

### 3.3.1 For loop

In [47]:
# for(int i=0 ; i<10 ; i++)
# {
#    print("%d",i)
# }

In [48]:
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

In [49]:
# for(int i=0 ; i<10 ; i++)
# {
#   for(int i=0 ; i<10 ; i++)
#    {
#         printf("%d x %d = %d",i,j,i*j); 
#    }   
# }

In [50]:
for i in range(1,10):
    for j in range(1,10):
        print("%d x %d = %d" %(i,j,i*j))

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81

In [51]:
listA = [100,200,300,400,500,600,700]

for item in listA:
    print(item)

100
200
300
400
500
600
700

In [52]:
listA = [100,200,300,400,500,600,700]
i = 0
for item in listA:
    print("index = %d , value = %d "%(i,item))
    i+=1

index = 0 , value = 100
index = 1 , value = 200
index = 2 , value = 300
index = 3 , value = 400
index = 4 , value = 500
index = 5 , value = 600
index = 6 , value = 700

In [53]:
listA = [100,200,300,400,500,600,700]

for idx, val in enumerate(listA):
    print("index = %d , value = %d "%(idx,val))

index = 0 , value = 100
index = 1 , value = 200
index = 2 , value = 300
index = 3 , value = 400
index = 4 , value = 500
index = 5 , value = 600
index = 6 , value = 700

### 3.3.2 While loop

In [54]:
count = 0
while count < 8:
    print (count, " < 8")
    count += 1

0  < 8
1  < 8
2  < 8
3  < 8
4  < 8
5  < 8
6  < 8
7  < 8

In [55]:
count = 0
while count < 5:
    print (count, " < 5")
    count = count + 1
else:
    print (count, " >= 5")

0  < 5
1  < 5
2  < 5
3  < 5
4  < 5
5  >= 5

### 3.3.3 Break,Continue,Pass

In [57]:
for letter in 'python': 
    if letter == 'h':
        break
    print(letter)

p
y
t

In [58]:
animals = ["Cat", "Dog","Bird","Panda"]
for animal in animals:
    if animal == "Cat":
        print("貓咪")
        break
        print("data " + animal)
    else:
        print("data " + animal)

print("Loop Finish!")

貓咪
Loop Finish!

In [59]:
for letter in 'python': 
    if letter == 'h':
        continue
    print(letter)

p
y
t
o
n

In [60]:
animals = ["Cat", "Dog","Bird","Panda"]
for animal in animals:
    if animal == "Cat":
        print("貓咪")
        continue
        print("data " + animal)
    else:
        print("data " + animal)

print("Loop Finish!")

貓咪
data Dog
data Bird
data Panda
Loop Finish!

## 04. Data Structure

## 4.1 列表 (List)

* 一個序列中的每個元素都分配有一個數字- 它的位置或索引
* list = [ ]

In [61]:
listA = [1,2,3,4,5,6]
listB = ["Apple","Bee","Cat","Dog"]
listC = ["Apple",123,"Bee",456]
print(listA , type(listA))
print(listB , type(listB))
print(listC , type(listC))

[1, 2, 3, 4, 5, 6] <class 'list'>
['Apple', 'Bee', 'Cat', 'Dog'] <class 'list'>
['Apple', 123, 'Bee', 456] <class 'list'>

### 4.1.1 List常用操作

#### 回傳 List 中元素
* var[index] : 回傳list中特定位置元素
* var[start:end]： 回傳list中特定範圍的元素

In [64]:
listA = [1,3,5,7,9]
print(listA[0])
print(listA[-1])
print(listA[0:3])

1
9
[1, 3, 5]

#### 回傳 List 元素個數

In [66]:
listA = ["Apple",123,"Bee",456]
print(len(listA))

4

#### 回傳 List 中最大 / 最小的元素

* List中的元素需為相同型態,如 List中元素型態為整數,浮點數則不限

In [68]:
listB =["Apple","Bee","Cat","Dog"]
print(max(listB)) #　List中的元素需為相同型態
print(min(listB)) #　List中的元素需為相同型態

Dog
Apple

In [69]:
listB =[10,20,30,45.5,5]
print(max(listB))
print(min(listB))

45.5
5

#### 新增元素
* append() : 新增元素至list末端
* insert(index,obj) : 新增某元素至list中特定位置

In [70]:
listA = ["Apple",123,"Bee",456]
listA.append("Elephant")
print(listA)

['Apple', 123, 'Bee', 456, 'Elephant']

In [71]:
listA.insert(2,"Air")
print(listA)

['Apple', 123, 'Air', 'Bee', 456, 'Elephant']

#### 移除元素
* remove() : 移除list 中特定元素
* pop() : 移除list中最後一個元素

In [72]:
listA = ["Apple",123,"Bee",456]

listA.remove("Bee")
print(listA)

listA.pop()
print(listA)

['Apple', 123, 456]
['Apple', 123]

#### 元素排序
* 元素型態要相同
* 字串string : 依照字母順序排序
* 數字 : 依照數字大小排序

In [73]:
listB =["Apple","Cat","Bee","Dog"]

listB.sort()
print(listB)

listB =["Apple","Air","Ant"]

listB.sort()
print(listB)

listB =[30,20,11.5]

listB.sort()
print(listB)

['Apple', 'Bee', 'Cat', 'Dog']
['Air', 'Ant', 'Apple']
[11.5, 20, 30]

#### 串列元素反向

In [74]:
#reverse() : 將list反向
listA = ['Apple', 'Elephant', 'Bee', 'Dog', 'Cat' ]
listA.reverse()
print(listA)

listB = [99, 2, 1, 80, 5 ]
listB.reverse()
print(listB)

['Cat', 'Dog', 'Bee', 'Elephant', 'Apple']
[5, 80, 1, 2, 99]

#### 串列連接

In [76]:
listA = ['Apple', 'Elephant', 'Bee']

listA.extend( 'Dog')
print(listA)

listA += ['Cat', 'Panda'] 
print(listA)

['Apple', 'Elephant', 'Bee', 'D', 'o', 'g']
['Apple', 'Elephant', 'Bee', 'D', 'o', 'g', 'Cat', 'Panda']

#### 刪除串列中特定 index 值元素

In [77]:
# del 刪除特定 index 值

listA = ['Apple', 'Elephant', 'Bee']

del listA[-1]
listA

['Apple', 'Elephant']

#### 檢查元素是否在串列

In [78]:
# in , not in 檢查元素是否在串列
listA = ['Apple', 'Elephant', 'Bee']
print("Cat" in listA)
print("Bee" in listA)

print("Cat" not in listA)
print("Bee" not in listA)

False
True
True
False

## 4.2 元組 (Tuple)
* tuple = ()
* 與list相似,但無法更改元素
佔用空間較少
* 可以當做字典的 key（因不可變）

In [79]:
tup1 = ()
#tup2 = (50)
tup2 = (50,)
print(type(tup2))
tup3 = ('Dog', 'cat', 1997, 2000)
tup4 = (1, 2, 3, 4, 5 )

#tuplea = "a", "b", "c", "d";
#type(tuplea)

<class 'tuple'>

In [80]:
print(tup3)
print ("tup3[0]:", tup3[0])
print ("tup4[1:5]:", tup4[1:5])

('Dog', 'cat', 1997, 2000)
tup3[0]: Dog
tup4[1:5]: (2, 3, 4, 5)

In [81]:
tup3[0] = 1 #與list相似,但無法更改元素 佔用空間較少

TypeError: 'tuple' object does not support item assignment

In [82]:
tup5 = tup3 + tup4
tup5

('Dog', 'cat', 1997, 2000, 1, 2, 3, 4, 5)

#### 刪除Tuple

In [83]:
del tup3

#### 計算Tuple中元素數目

In [84]:
len((1, 2, 3, 4, 5 ,7,4))

7

#### 回傳Tuple中最大的元素

In [85]:
max((1, 2, 3, 4, 5 ))

5

#### 回傳Tuple中最小的元素

In [86]:
min((1, 2, 3, 4, 5 ))

1

#### 判斷成員是否在Tuple中

In [87]:
print(3 in (1,2,3,4))
print('cat' in ('Apple',2,'cat',4))

True
True

#### Tuple 串聯

In [88]:
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
tuple1+tuple2

(1, 2, 3, 4, 5, 6)

#### Tuple 重複

In [90]:
tuple1 = (1, 2, 3)
tuple1*3

(1, 2, 3, 1, 2, 3, 1, 2, 3)

## 4.3 字典 (Dictionary)
* dict = { key1 : value1, key2 : value2 }

In [91]:
dict ={}
dict = {'Course': '計算機概論', 'Teacher': 'Nick', 'Class': '1A', 'Credit' :2}
print ("dict['Course']: ", dict['Course'])
print ("dict['Credit']: ", dict['Credit'])

dict['Course']:  計算機概論
dict['Credit']:  2

#### 更新字典

In [92]:
dict = {'Course': '計算機概論', 'Teacher': 'Nick', 'Class': '1A', 'Credit' :2}

dict['Teacher'] = 'David'
dict['Department'] = '資管系'
print (dict)

{'Teacher': 'David', 'Course': '計算機概論', 'Credit': 2, 'Department': '資管系', 'Class': '1A'}

In [93]:
dict1 = {
    'name': 'python',
    'version': '3.5'
}

dict2 = {
    'name': 'php',
    'version': '7.2'
}

dict1.update(dict2)
print(dict1)
print(dict2)

{'version': '7.2', 'name': 'php'}
{'version': '7.2', 'name': 'php'}

In [94]:
dict = {'Credit': 2, 'Course': '計算機概論', 'Department': '資管系', 'Teacher': 'David', 'Class': '1A'}

# 删除字典 / 元素
del dict['Department'];
print(dict)

# 清空字典內所有元素
dict.clear() 
print(dict)

{'Teacher': 'David', 'Credit': 2, 'Class': '1A', 'Course': '計算機概論'}
{}

In [95]:
#計算字典個素 len()
dict1 = {'Course': '計算機概論', 'Teacher': 'Nick', 'Class': '1A', 'Credit' :2}
len(dict1)

4

In [96]:
# 判斷字典是否有某鍵值
dict1 = {'Course': '計算機概論', 'Teacher': 'Nick', 'Class': '1A', 'Credit' :2}
dict1.__contains__('Course')

True

In [97]:
#顯示字典所有鍵值
dict1 = {'Course': '計算機概論', 'Teacher': 'Nick', 'Class': '1A', 'Credit' :2}
dict1.keys()

dict_keys(['Teacher', 'Course', 'Credit', 'Class'])

In [98]:
#隨機pop一個鍵值
dict1 = {'Course': '計算機概論', 'Teacher': 'Nick', 'Class': '1A', 'Credit' :2}
dict1.popitem() # 隨機pop一個鍵值
dict1

{'Class': '1A', 'Course': '計算機概論', 'Credit': 2}

In [99]:
# pop某一個key
dict1 = {'Course': '計算機概論', 'Teacher': 'Nick', 'Class': '1A', 'Credit' :2}
dict1.pop('Teacher') # pop某一個key
dict1

{'Class': '1A', 'Course': '計算機概論', 'Credit': 2}

## 4.4集合 (Set)
* 類似數學集合

In [100]:
animals = set()

animals= {'cat', 'dog', 'bee', 'panda'}
animals
type(animals)

set

In [101]:
print(set('cat'))
print(set(['dog', 'bee']))
print(set(('panda', 'cat')))

{'c', 'a', 't'}
{'bee', 'dog'}
{'cat', 'panda'}

In [102]:
animals1 = {'cat', 'dog', 'bee', 'panda'}
animals2 = {'cat', 'ant', 'bird', 'panda'}
print(animals1.intersection(animals2)) 
print(animals1.union(animals2)) 
print(animals1.difference(animals2))

{'cat', 'panda'}
{'panda', 'bee', 'dog', 'cat', 'bird', 'ant'}
{'dog', 'bee'}

## 5. 函數(Function) & 模組 (Modules)

## 5.1 函數(Function)

#### 自建函數

In [104]:
def hello() :
    print("Hello World!")

hello()

Hello World!

#### 自建函數(傳遞參數)

In [105]:
def printme( str ):
    print (str)

printme("I'm Nick !")

I'm Nick !

In [106]:
# Default Parameter Value

def printme( name = 'Nick'):
    print ("I am " + name)
    

printme("David")
printme()

I am David
I am Nick

#### 全域變數

In [107]:
num = 10
def functionA():
    global num 
    print(num) 
    num = 123
    print(num)
functionA()
print(num)

10
123
123

#### 回傳值

In [108]:
def functionA(x):
    return 10 * x

print(functionA(1))
print(functionA(2))
print(functionA(3))

10
20
30

In [109]:
def functionA(x):
    return True if x >15 else False

print(functionA(10))
print(functionA(20))
print(functionA(30))

False
True
True

## 5.2 lambda

In [111]:
def functionA(a,b):
    return a + b + 10

print(functionA(5,10))

25

In [112]:
x = lambda a,b : a + b + 10
print(x(5,10))

25

In [114]:
def functionA(a,b):
    return a if a >b else b

print(functionA(5,10))

10

In [115]:
x = lambda a,b : a if a >b else b
print(x(5,10))

10

## 5.3 模組 (Modules)

#### import module
import module1[, module2[,... moduleN]

In [117]:
import support

In [118]:
support.print_func("Nick")

Hello,   Nick

In [119]:
support.add_func(30,20)

50

In [120]:
support.sub_func(20,5)

15

#### from … import
from modname import name1[, name2[, ... nameN]]

In [121]:
from support import add_func
add_func(10,20)

30

In [123]:
from support import add_func as add ,sub_func as sub
print(add(10,20))
print(sub(10,20))

30
-10

## 06 Python日期時間 Date / Time
* 時間間隔為浮點數以秒為單位的數字。在特定的時間瞬間自上午12時00分，1970年1月1日(紀元)表示，單位為秒

* datetime、time、calendar

#### Python時間模組datetime\time,轉義符對應意義
%a 本地簡化星期名稱

%A 本地完整星期名稱

%b 本地簡化的月份名稱

%B 本地完整的月份名稱

%c 本地相應的日期表示和時間表示

%d 月內中的一天（0-31）

%H 24小時制小時數（0-23）

%I 12小時制小時數（01-12）

%j 年內的一天（001-366）

%m 月份（01-12）

%M 分鐘數（00=59）

%p 本地A.M.或P.M.的等價符

%S 秒（00-59）

%U 一年中的星期數（00-53）星期天為星期的開始

%w 星期（0-6），星期天為星期的開始

%W 一年中的星期數（00-53）星期一為星期的開始

%x 本地相應的日期表示

%X 本地相應的時間表示

%y 兩位數的年份表示（00-99）

%Y 四位數的年份表示（000-9999）

%Z 當前時區的名稱

%% %號本身

## 6.1 Time Module

In [125]:
import time;

In [126]:
ticks = time.time()
print("Number of ticks since 12:00am, January 1, 1970:", ticks)

Number of ticks since 12:00am, January 1, 1970: 1564466012.5604446

#### 獲取當前時間

In [127]:
localtime = time.localtime(time.time())

print("Local current time :", localtime)

Local current time : time.struct_time(tm_year=2019, tm_mon=7, tm_mday=30, tm_hour=13, tm_min=53, tm_sec=47, tm_wday=1, tm_yday=211, tm_isdst=0)

#### 獲取格式化的時間

In [129]:
localtime = time.asctime( time.localtime(time.time()) )
print("Local current time :", localtime)

Local current time : Tue Jul 30 13:54:04 2019

## 6.2 Calendar module

#### 獲取日曆月份

In [18]:
import calendar

cal = calendar.month(2019, 8)
print("Here is the calendar:")
print(cal)

Here is the calendar:
    August 2019
Mo Tu We Th Fr Sa Su
          1  2  3  4
 5  6  7  8  9 10 11
12 13 14 15 16 17 18
19 20 21 22 23 24 25
26 27 28 29 30 31

In [29]:
# 設定日曆的第一天
cal = calendar.month(2019, 8)
print("Here is the calendar:")

calendar.setfirstweekday(calendar.SUNDAY) 
cal = calendar.month(2019, 8)
print(cal)

Here is the calendar:
    August 2019
Su Mo Tu We Th Fr Sa
             1  2  3
 4  5  6  7  8  9 10
11 12 13 14 15 16 17
18 19 20 21 22 23 24
25 26 27 28 29 30 31

In [32]:
# 獲取一年的日曆
cal = calendar.calendar(2019)
print (cal)

                                  2019

      January                   February                   March
Su Mo Tu We Th Fr Sa      Su Mo Tu We Th Fr Sa      Su Mo Tu We Th Fr Sa
       1  2  3  4  5                      1  2                      1  2
 6  7  8  9 10 11 12       3  4  5  6  7  8  9       3  4  5  6  7  8  9
13 14 15 16 17 18 19      10 11 12 13 14 15 16      10 11 12 13 14 15 16
20 21 22 23 24 25 26      17 18 19 20 21 22 23      17 18 19 20 21 22 23
27 28 29 30 31            24 25 26 27 28            24 25 26 27 28 29 30
                                                    31

       April                      May                       June
Su Mo Tu We Th Fr Sa      Su Mo Tu We Th Fr Sa      Su Mo Tu We Th Fr Sa
    1  2  3  4  5  6                1  2  3  4                         1
 7  8  9 10 11 12 13       5  6  7  8  9 10 11       2  3  4  5  6  7  8
14 15 16 17 18 19 20      12 13 14 15 16 17 18       9 10 11 12 13 14 15
21 22 23 24 25 26 27      19 20 21 22 23 24 25      16 17 18 19 20 21 22
28 29 30                  26 27 28 29 30 31         23 24 25 26 27 28 29
                                                    30

        July                     August                  September
Su Mo Tu We Th Fr Sa      Su Mo Tu We Th Fr Sa      Su Mo Tu We Th Fr Sa
    1  2  3  4  5  6                   1  2  3       1  2  3  4  5  6  7
 7  8  9 10 11 12 13       4  5  6  7  8  9 10       8  9 10 11 12 13 14
14 15 16 17 18 19 20      11 12 13 14 15 16 17      15 16 17 18 19 20 21
21 22 23 24 25 26 27      18 19 20 21 22 23 24      22 23 24 25 26 27 28
28 29 30 31               25 26 27 28 29 30 31      29 30

      October                   November                  December
Su Mo Tu We Th Fr Sa      Su Mo Tu We Th Fr Sa      Su Mo Tu We Th Fr Sa
       1  2  3  4  5                      1  2       1  2  3  4  5  6  7
 6  7  8  9 10 11 12       3  4  5  6  7  8  9       8  9 10 11 12 13 14
13 14 15 16 17 18 19      10 11 12 13 14 15 16      15 16 17 18 19 20 21
20 21 22 23 24 25 26      17 18 19 20 21 22 23      22 23 24 25 26 27 28
27 28 29 30 31            24 25 26 27 28 29 30      29 30 31

In [30]:
cal = calendar.HTMLCalendar(calendar.MONDAY)
print (cal.formatmonth(2019, 8))

<table border="0" cellpadding="0" cellspacing="0" class="month">
<tr><th colspan="7" class="month">August 2019</th></tr>
<tr><th class="mon">Mon</th><th class="tue">Tue</th><th class="wed">Wed</th><th class="thu">Thu</th><th class="fri">Fri</th><th class="sat">Sat</th><th class="sun">Sun</th></tr>
<tr><td class="noday">&nbsp;</td><td class="noday">&nbsp;</td><td class="noday">&nbsp;</td><td class="thu">1</td><td class="fri">2</td><td class="sat">3</td><td class="sun">4</td></tr>
<tr><td class="mon">5</td><td class="tue">6</td><td class="wed">7</td><td class="thu">8</td><td class="fri">9</td><td class="sat">10</td><td class="sun">11</td></tr>
<tr><td class="mon">12</td><td class="tue">13</td><td class="wed">14</td><td class="thu">15</td><td class="fri">16</td><td class="sat">17</td><td class="sun">18</td></tr>
<tr><td class="mon">19</td><td class="tue">20</td><td class="wed">21</td><td class="thu">22</td><td class="fri">23</td><td class="sat">24</td><td class="sun">25</td></tr>
<tr><td class="mon">26</td><td class="tue">27</td><td class="wed">28</td><td class="thu">29</td><td class="fri">30</td><td class="sat">31</td><td class="noday">&nbsp;</td></tr>
</table>

In [46]:
# 判斷是否閏年
print(calendar.isleap(2016))
print(calendar.isleap(2019))

True
False

In [45]:
#兩個年份之間閏年的個數
print(calendar.leapdays(2012, 2019))

2

## 6.3 Datetime module

In [1]:
import datetime

In [4]:
# 獲取當天的日期
print (datetime.datetime.now())
print (datetime.date.today())

2019-08-01 03:16:48.221780
2019-08-01

In [11]:
# 獲取昨天的日期
def getYesterday():
    today = datetime.date.today()
    oneday = datetime.timedelta(days=1) #代表兩個時間之間的時間差
    yesterday = today - oneday
    print (today,type(today))  # 檢視獲取到時間的型別
    print (oneday,type(yesterday))
    return yesterday

yesterday = getYesterday()
print("昨天的日期：", yesterday)

2019-08-01 <class 'datetime.date'>
1 day, 0:00:00 <class 'datetime.date'>
昨天的日期： 2019-07-31

In [14]:
# 字串轉換為時間
import time
def strTodatetime(datestr, format):
    return datetime.datetime.strptime(datestr, format)

print(time.strftime("%Y-%m-%d", time.localtime()))
print(strTodatetime("2019-8-1","%Y-%m-%d"))
print(time.strftime("%Y-%m-%d %H:%M:%S", time.localtime()))
print(strTodatetime("2019-8-1","%Y-%m-%d")-strTodatetime("2019-7-25","%Y-%m-%d"))

2019-08-01
2019-08-01 00:00:00
2019-08-01 03:24:37
7 days, 0:00:00

## Exercise

### Exercise 1

計算元素在列表中出現的次數

Input : lst = [12, 16, 55, 1, 12, 22, 33, 12, 10] <br>
        target = 12<br>
Output: 3

Ans:

### Exercise 2

計算字典值之總和 <br>

dict = {'a': 400, 'b':250, 'c':50}<br> 
Output : 700

Ans: